<p-toast></p-toast>

<p-card header="Sản phẩm">
    <button pButton type="button" class="mb-5" (click)="onCreate()" >Thêm sản phẩm</button>
    <p-dialog header="Sản phẩm" [(visible)]="showForm" [style]="{width : '40vw'}" [modal]="true" [transitionOptions]="'.3s'">
        <form action="">
            <div class="p-field mt-1">
                <label for="username">Tên sản phẩm: </label>
                <input type="text" pInputText class="w-full mt-1" name="name" [(ngModel)]="productForm.name">
            </div>
            <div class="p-field mt-1">
                <label for="description">Mô tả: </label>
                <textarea pInputTextarea class="w-full mt-1" rows="2" [(ngModel)]="productForm.description" name="description"></textarea>
            </div>
            <div class="p-field mt-1">
                <label for="content">Nội dung: </label>
                <textarea pInputTextarea class="w-full mt-1" rows="3" [(ngModel)]="productForm.content" name="content"></textarea>
            </div>
            <div class="p-field mt-1">
                <label for="category">Danh mục</label>
                <div class="grid">
                    <div *ngFor="let category of listCategory" class="col-6">
                        <p-radioButton name="category" value="{{category.id}}" [(ngModel)]="productForm.category" [inputId]="category.id" class="mr-2"></p-radioButton>
                        <label [for]="category.id">{{category.name}}</label>
                    </div>
                </div>
            </div>
            <div class="grid justify-content-between mt-3">
                <div class="p-field col-6">
                    <label for="price">Giá tiền: </label>
                    <p-inputNumber mode="currency" currency="USD" locale="en-US" class="w-full mt-1" [(ngModel)]="productForm.price" name="price"></p-inputNumber>
                </div>

                <div class="p-field col-6">
                    <label for="price">Số lượng: </label>
                    <p-inputNumber class="w-full mt-1" [(ngModel)]="productForm.quantity" name="quantity"></p-inputNumber>
                </div>
            </div>
            <div class="p-field mt-1">
                <button pButton type="button" class="p-button-success" (click)="onChooseImage()"> Chọn ảnh</button>
                <p-dialog header="Chọn ảnh" [(visible)]="showImage" position="top" [modal]="true" [style]="{width: '40vw'}" [transitionOptions]="'.3s'">
                    <div    >
                        <div>
                            <input type="file" #file (change)="uploadFile($event)" hidden>
                            <button pButton (click)="file.click()" label="Tải ảnh lên" icon="pi pi-plus" class="p-button-warning"></button>
                        </div>
                        <div>
                            <button pButton (click)="chooseImage()" class="p-button-primary" label="Chọn ảnh" [disabled]="disabled"></button>
                            <button pButton class="p-button-danger ml-2" icon="pi pi-trash" label="Xóa ảnh" [disabled]="disabled"></button>
                        </div>
                    </div>
                    <p-divider align="left" >
                        Ảnh đã tải lên
                    </p-divider>
                    <div class="grid">
                        <div class="col-4 list-image flex align-items-center" *ngFor="let image of listImage" >
                            <img src="{{'data:image/jpg;base64,' + image.data}}" alt="" class="w-full h-full p-2 border-1 " (click)="selectImage($event,image)" >
                        </div>
                    </div>

                </p-dialog>
                <div class="grid mt-1" *ngIf="listImageChoosen != null">
                    <div class="product-image col-2 flex align-items-center" *ngFor="let image of listImageChoosen">
                        <img src="{{'data:image/jpg;base64,' + image.data}}" alt="" class="w-full h-full">
                        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text delete-image" (click)="removeImage(image)"></button>
                    </div>
                </div>
            </div>
            
            <div class="p-field mt-3">
                <button type="submit" pButton *ngIf="!onUpdate" (click)="createProduct()">Tạo mới</button>
                <button type="submit" pButton *ngIf="onUpdate" (click)="updateProduct()" >Cập nhật</button>
                <button pButton type="button" class="p-button-danger ml-3" (click)="showForm=false">Hủy</button>
            </div>
        </form>
    </p-dialog>

    <p-table [value]="listProduct" [rows]="6" [paginator]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Giá tiền</th>
                <th>Danh mục</th>
                <th>Trạng thái</th>
                <th>Công cụ</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.name}}</td>
                <td class="product-image">
                    <img src="{{'data:image/jpg;base64,' + product.images[0].data}}" alt="" width="100px">
                </td>
                <td>{{product.price}}</td>
                <td>{{product.category.name}}</td>
                <td>
                    <button pButton type="button" class="p-button-info" *ngIf="product.enabled" (click)="enableProduct(product.id)" >Enabled</button>
                    <button pButton type="button" class="p-button-warning" *ngIf="!product.enabled" (click)="enableProduct(product.id)" >Disabled</button>
                </td>
                <td>
                    <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-primary" (click)="showUpdateForm(product)"></button>
                    <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-danger ml-2" (click)="onDelete(product.id,product.name)"></button>
                    <p-dialog header="Xác nhận" [(visible)]="showDelete" [style]="{width :'30vw'}" [modal]="true" [transitionOptions]="'.3s'">
                        <div>
                            <i class="pi pi pi-exclamation-triangle"></i>
                            <span class="ml-2">Bạn có chắc xóa <span>{{productForm.name}}</span> ?</span>
                        </div>
                        <div class="flex justify-content-end mt-3">
                            <p-button label="Yes" icon="pi pi-check" class="mr-2" (click)="deleteProduct()"></p-button>
                            <p-button label="No" icon="pi pi-times" (click)="showDelete=false"></p-button>
                        </div>
                    </p-dialog>
                    
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>


